fastapi>=0.111
uvicorn[standard]>=0.30
python-dotenv>=1.0
pydantic>=2.7
python-multipart>=0.0.9

datasets>=2.19
pandas>=2.2
openpyxl>=3.1

langchain-core>=0.2
langchain-text-splitters>=0.2
langchain-huggingface>=0.0.3
langchain-chroma>=0.1
chromadb>=0.5

torch>=2.2
transformers>=4.42
accelerate>=0.31
bitsandbytes>=0.46.1
sentence-transformers>=3.0
